@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs-heading: 18px;
  --fs-heading-400: 12px;
  --fs-body: 12px;
  --fs-body-100: 10px;
  --fs-link: 12px;

  --clr-blue-100: #4eeaff;
  --clr-red: #f20166;
  --clr-white: #fff;
  --clr-green: #00e2cb;
  --clr-black-bg: #252729;
  --clr-black-dark-bg: #1a1b1b;

  --clr-blue-hover: #27427e;

  --bg-opacity: 0.4;

  --section-padding: 2rem;

  /* Breakpoint */
  --bp-medium: 860px;
  --bp-large: 1030px;
}

@media (width > 760px) {
  :root {
    --fs-heading: 30px;
    --fs-heading-400: 14px;
    --fs-body: 14px;
    --fs-body-100: 12px;
    --fs-link: 16px;
  }
}

@media (width > 1030px) {
  :root {
    --fs-heading: 45px;
    --fs-heading-400: 14px;
    --fs-body: 16px;
    --fs-body-100: 12px;
    --fs-link: 16px;

    --section-padding: 4rem;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: var(--fs-body);
  font-style: normal;
  line-height: 1.5;
  background-color: #252729;
  color: var(--clr-white);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: inherit;
  font-size: var(--fs-heading);
  font-weight: 700;
  line-height: 1.5;
  color: var(--clr-white);
  text-transform: uppercase;
}

h3 {
  font-family: inherit;
  font-size: var(--fs-heading-400);
  font-weight: 700;
  line-height: 1.5;
  color: var(--clr-green);
}

a,
a:link,
a:focus {
  text-decoration: none;
  font-size: var(--fs-link);
  color: var(--clr-white);
  font-weight: 700;
}

ul {
  list-style: none;
}

.container {
  width: min(90%, 1300px);
  margin-inline: auto;
}

main {
  margin-top: 80px;
}

main section {
  padding-block: var(--section-padding);
}

.btn {
  font-family: inherit;
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px 2em;
  color: var(--clr-white);
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}

.btn:hover {
  transform: scale(1.03);
}

.btn.btn-red {
  background-color: var(--clr-red);
}

.btn.btn-grey {
  background-color: #6b6b6b;
}

.btn.btn.btn-red:hover {
  background-color: var(--clr-white);
  color: var(--clr-red);
}

.btn.btn-blue {
  background: linear-gradient(to bottom, #00e2cb 0%, #8effec 100%);
  color: #252729;
  transition: background 0.5s ease-in-out;
}

.btn.btn-blue:hover {
  background: linear-gradient(
    to top,
    rgb(1, 228, 205) 0%,
    rgb(138, 255, 235) 100%
  );
}

/* ********************************************************* */
/* ******************** Sections General ****************** */
/* ********************************************************* */

/* Background Styles */
.section {
  width: 100%;
  min-height: 40vh;
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
}

.section:nth-of-type(odd) {
  background-color: var(--clr-black-dark-bg);
}

/* Text Styles */
.section__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

/* Section */
.section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section .section__image {
  text-align: center;

  img {
    width: 100%;
  }
}

@media (width > 740px) {
  .section {
    background-size: contain;
    padding-block: 4rem;
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .section__text {
      width: min(50%, 500px);
      background-color: transparent;
      padding: 0;
      align-items: unset;
    }

    .section__image {
      width: 50%;
    }
  }
}

/* ***************************************************** */
/* ******************** Header Section ****************** */
/* ***************************************************** */
a.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

header {
  background-color: var(--clr-black-bg);
  width: 100%;
  height: 80px;
  padding-block: 1rem;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10;
}

header .cta-section {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

header ul li a {
  text-transform: uppercase;
}

/* Mobile View */
header .mobile-header {
  display: flex;
  justify-content: space-between;
}

header .mobile-header nav {
  position: absolute;
  opacity: 0;
  width: 0;
  left: -50%;
  padding: 1rem;
  height: 100vh;
  transition: all 0.5s ease-in-out;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

header .mobile-header nav ul li a {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

header .mobile-header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
header .mobile-header.active nav {
  left: 0;
  opacity: 1;
  width: 80%;
  background-color: #252729;
}

body:has(header .mobile-header.active) {
  overflow-y: hidden;
}

header .mobile-header.active nav ul li a {
  opacity: 1;
}

header .logo {
  width: min(25vmin, 130px);
  height: auto;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
}

header .mobile-header #slideInTrigger {
  position: relative;
  width: 50%;
}

header .mobile-header .bars,
header .mobile-header .times {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: auto;
  text-align: right;
  transition: all 0.5s ease;
}

header .mobile-header .times {
  opacity: 0;
}
header .mobile-header.active .times {
  opacity: 1;
}

header .mobile-header.active .bars {
  opacity: 0;
}

/* Desktop View */
header .desktop-header {
  display: none;
}


header .desktop-header nav {
  display: flex;
  justify-content: space-between;
}

header .desktop-header .desktop-header__logo img {
  max-width: 130px;
}

header .desktop-header nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .desktop-header nav .cta-section {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
}
header .desktop-header nav .cta-section .btn {
  display: inline-block;
}

@media (width > 1138px) {
  header .desktop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .desktop-header .desktop-header__logo {
    display: flex;
    align-items: center;
  }

  header .mobile-header {
    display: none;
  }
}

@media (width > 1030px) {
  header .desktop-header nav ul {
    gap: 2rem;
  }
}

/* ***************************************************** */
/* ******************** Hero Section ****************** */
/* ***************************************************** */
.hero-section .container {
  z-index: 1;
  position: relative;

  .section__text {
    order: 2;
  }

  .section__image {
    order: 1;
  }
}

.hero-section .section__image .smiley {
  width: 70vw;
  max-width: 300px;
  height: auto;
  animation: neonGlow 1.5s infinite alternate ease-in-out;
}

@media (width > 740px) {
  .hero-section {
    min-height: 70vh;
    .container {
      .section__text {
        order: 1;
      }
      .section__image {
        order: 2;
      }
    }
  }
}

@media (width > 2000px) {
  .hero-section {min-height: 40vh;}
}

@keyframes neonGlow {
  0% {
    filter: drop-shadow(0 0 5px rgba(0, 174, 255, 0.5))
      drop-shadow(0 0 10px rgba(0, 174, 255, 0.5));
  }
  100% {
    filter: drop-shadow(0 0 15px rgba(0, 174, 255, 1))
      drop-shadow(0 0 25px rgba(0, 174, 255, 1));
  }
}

/* *********************************************************** */
/* ******************** Affiliates Section ****************** */
/* *********************************************************** */
.affiliates-section .container {
 flex-direction: column-reverse;

 .section__image img {
  max-width: 300px;
 }
}

@media (width > 740px) {
  .affiliates-section .container {
    flex-direction: row-reverse;

    .section__image img {
      max-width: 500px;
    }
  }

}

/* *********************************************************** */
/* ******************** Streamers Section ****************** */
/* *********************************************************** */
@media (width < 740px) {
  .streamers-section .container {
    flex-direction: column-reverse;
  
    .section__image img {
      max-width: 300px;
    }
  }
}

@media (width > 768px) {
  .streamers-section .section__image img {
    max-width: 500px;
  }
}

/* *********************************************************** */
/* ******************** Commissions Section ****************** */
/* *********************************************************** */
.commissions-section {
  position: relative;
}

.commissions-section .container {
  z-index: 1;
}

.commissions-section .section__image {
  margin-bottom: calc(-1 * var(--section-padding));
  margin-left: -10%;
  vertical-align: bottom;
  width: 100%;
  text-align: left;
  img {
    width: 100%;
  }
}

.commissions-section__text--icons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  max-width: 400px;
  gap: 2rem;
}

.commissions-section__text--icons .option {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  img {
    width: 80px;
    height: 80px;
  }
}

@media (width > 740px) {
  .commissions-section .container {
    flex-direction: row-reverse;
    .section__text {
      width: 50%;
    }
    .section__image {
      width: 50%;
    }
  }
}

/* ***************************************************** */
/* ******************** Brand Section ****************** */
/* ***************************************************** */
.brand-section {
  .section__image {
    margin-bottom: calc(-1 * var(--section-padding));
    margin-right: -10%;
    vertical-align: bottom;
    img {
      vertical-align: bottom;
    }
  }
}

.brand-section .section__text p + p {
  margin-top: 1em;
}

@media (width >740px) {
  .brand-section .container {
    .section__image {
      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

/* ******************************************************** */
/* ******************** Benefits Section ****************** */
/* ******************************************************** */
.benefits-section .container {
  flex-direction: column;
}

.benefits-section h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.benefits-section .benefits-section__icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 2rem;
}
.benefits-section .benefits-section__icons .option {
  max-width: 220px;
  margin-inline: auto;
}
.benefits-section .benefits-section__icons .option p {
  font-size: var(--fs-body-100);
}

.benefits-section .benefits-section__icons .option img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-block: 10px;
}

@media (width > 980px) {
  .benefits-section .benefits-section__icons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ******************************************************** */
/* ******************** Contact Section ****************** */
/* ******************************************************** */
.contact-section .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.contact-section h2 {
  text-align: center;
}

.contact-section .contact-section__mail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1rem;
}
.contact-section .contact-section__mail img {
  width: 30px;
  height: auto;
}
.contact-section .contact-section__mail a {
  font-size: var(--fs-body-100);
  font-weight: 400;
}

.contact-section .contact-section__form {
  width: min(80%, 600px);
  margin-inline: auto;
}

.contact-section .contact-section__form p {
  font-size: var(--fs-body);
  text-align: center;
  margin-bottom: 1rem;
}

.contact-section .contact-section__form form {
  width: 100%;
}
.contact-section .contact-section__form form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
}
.contact-section .contact-section__form form .form-group label {
  font-weight: 400;
  font-size: var(--fs-body);
  margin-bottom: 5px;
}
.contact-section .contact-section__form form .form-group label span {
  color: var(--clr-red);
}
.contact-section .contact-section__form form .form-group input,
.contact-section .contact-section__form form .form-group textarea {
  border: none;
  outline: none;
  padding: 10px 1rem;
  border-radius: 5px;
  font-family: inherit;
  font-size: var(--fs-body);
  color: #1a1b1b;
}

.contact-section .contact-section__form form button {
  font-size: var(--fs-link);
  font-weight: 700;
  margin-top: 1.5rem;
}

@media (width > 940px) {
  .contact-section {
    padding-top: 5rem;
  }
  .contact-section .contact-section__form form .horizontal-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .contact-section .contact-section__form form .horizontal-group .form-group {
    width: 100%;
  }
}

/* ********************************************** */
/* ******************** Footer ****************** */
/* ********************************************** */
footer {
  background-color: #121212;
  padding-block: 2rem;
  text-align: center;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

footer .footer-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .footer-left img {
  width: 100%;
  max-width: 150px;
  margin-bottom: 2rem;
}

footer .footer-center a {
  font-weight: 400;
}

footer .footer-right .social-icons ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
footer .footer-right .social-icons ul img {
  width: 30px;
  transition: opacity 0.2s ease-in;
}

footer .footer-right .social-icons ul img:hover {
  opacity: 0.6;
}

@media (width > 760px) {
  footer {
    padding-block: 4rem;
  }
  footer .container {
    flex-direction: row;
    align-items: flex-start;
  }
}
